<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720588394551-jsifa38us0uapudoafmmdme7sdash375.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720588394551-jsifa38us0uapudoafmmdme7sdash375</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9TtjQiRoY9XBa91hVT8LokMVILadNBA</string>
	<key>GCM_SENDER_ID</key>
	<string>720588394551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-56e54</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-56e54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720588394551:ios:012d91c8e0efbf34f1afb2</string>
</dict>
</plist>